{% form_theme form _self %}

{% block _request_agreement_compensatory_pension_isPension_row %}
    <div id="compensatory_pension-switch-holder">
        <div class="switch-wrap d-flex justify-content-between">
            <p>¿Hay pensión compensatoria?</p>
            {{ form_errors(form) }}
            <div class="confirm-switch">
                {{ form_widget(form) }}
                {{ form_label(form) }}
            </div>
        </div>
    </div>
{% endblock %}