/*============== agreement css ================*/

$primary-font: 'Open Sans', arial, sans-serif;

.agreement {
  h2 {
    font-size: 26px;
    font-family: $primary-font;
    color: #494d55;
    text-align: center;
    margin-bottom: 30px;
  }
  h3 {
    font-size: 18px;
    font-family: $primary-font;
    color: #494d55;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.compensatory_pension_help{
  max-width: 600px;
  width: 600px;
}

.section_bottom{
  margin-bottom: 70px;
}

.errors {
  .error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
  }
}