{% extends 'base.html.twig' %}

{% block title %}Sobre nosotros{% endblock %}

{% block features %}{% endblock %}
{% block video %}{% endblock %}

{% block service %}

    <section class="section_gap_top">
        <div class="container">
            <div class="row section_gap_bottom">
                <h3 class="text-heading title_color">SOBRE NOSOTROS</h3>
                <p class="sample-text">
                    Despacho profesional afincado en Madrid con <b>más de 40 años de experiencia profesional</b> en el derecho de familia.
                    Trabajamos en toda España. Nuestro ámbito de actuación se extiende a todos los partidos judiciales del territorio nacional.
                </p>
            </div>
        </div>
    </section>

{% endblock %}

{% block team %}{% endblock %}
{% block cta %}{% endblock %}
{% block blog %}{% endblock %}

{% block javascripts %}{% endblock %}
