{% extends 'base.html.twig' %}

{% block title %}Contacto enviado{% endblock %}

{% block features %}{% endblock %}
{% block video %}{% endblock %}

{% block service %}

    <section class="section_gap_top">
        <div class="container">
            <div class="row section_gap_bottom">
                <h3 class="text-heading title_color">Contacto enviado correctamente</h3>
                <p class="sample-text">
                    Hemos recibido correctamente su mensaje.
                    Estamos analizando el contenido y nos pondremos encontacto con usted a la mayor brevedad.
                </p>
            </div>
        </div>
    </section>

{% endblock %}

{% block team %}{% endblock %}
{% block cta %}{% endblock %}
{% block blog %}{% endblock %}

{% block javascripts %}{% endblock %}
