{% extends 'base.html.twig' %}

{% block title %}Política de Cookies{% endblock %}

{% block home_banner %}
    <section class="home_banner_area overlay">
        <div class="banner_inner">
            <div class="container">
                <div class="row fullscreen d-flex align-items-center justify-content-center">
                    <div class="banner_content">
                        <h2>
                            Divorcios<br>
                            Juanqui S.A.<br>
                        </h2>
                        <p>
                            Rellena un sencillito formulario para ahorrarte 400 pavos que te va a cobrar el cabrón este.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block features %}{% endblock %}
{% block video %}{% endblock %}

{% block service %}
    <section class="contact_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row section_bottom">
                        <h3 class="text-heading title_color">POLÍTICA DE COOKIES DE TK</h3>
                        <p class="sample-text">
                            En cumplimiento con lo dispuesto en el artículo 22.2 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico, TK informa, en esta sección, sobre la política de recogida y tratamiento de cookies.
                            <br /><br />
                            Al entrar en esta web ya has sido informado sobre la utilización de las cookies a través de un aviso o alerta. Si has accedido y sigues navegando, estás aceptando la instalación de estas cookies.
                        </p>
                    </div>
                    <div class="row section_bottom">
                        <h3 class="text-heading title_color">¿QUÉ SON LAS COOKIES?</h3>
                        <p class="sample-text">
                            Una cookie es un fichero que se descarga en tu ordenador o equipo al acceder a determinadas páginas web. Las cookies permiten a una página web, entre otras cosas, almacenar y recuperar información sobre los hábitos de navegación del Usuario o de su equipo y, dependiendo de la información que contengan y de la forma en que utilice tu equipo, pueden utilizarse para reconocer al Usuario.
                        </p>
                    </div>
                    <div class="row section_bottom">
                        <h3 class="text-heading title_color">¿QUÉ TIPOS DE COOKIES UTILIZA ESTA PÁGINA WEB?</h3>
                        <p class="sample-text">
                            TK utiliza los siguientes tipos de cookies:
                            <br /><br />
                            Cookies de análisis: Son aquéllas que bien tratadas por nosotros o por terceros, nos permiten cuantificar el número de usuarios y así realizar la medición y análisis estadístico de la utilización que hacen los usuarios del servicio ofertado. Para ello se analiza su navegación en nuestra página web con el fin de mejorar la oferta de productos o servicios que te ofrecemos.
                        </p>
                    </div>
                    <div class="row section_bottom">
                        <h3 class="text-heading title_color">DESACTIVAR LAS COOKIES</h3>
                        <p class="sample-text">
                            El Usuario puede permitir, bloquear o eliminar las cookies instaladas en su equipo mediante la configuración de las opciones del navegador instalado en su ordenador.
                            <br /><br />
                            En la mayoría de los navegadores web se ofrece la posibilidad de permitir, bloquear o eliminar las cookies instaladas en su equipo.
                            <br /><br />
                            A continuación puedes acceder a la configuración de los navegadores webs más frecuentes para aceptar, instalar o desactivar las cookies:
                            <br /><br />
                            <ul>
                                <li><a href="https://support.google.com/chrome/answer/95647?hl=es">Configurar cookies en Google Chrome</a></li>
                                <li><a href="https://www.modelosycontratos.com/politica-de-cookies/Configurar%20cookies%20en%20Microsoft%20Internet%20Explorer">Configurar cookies en Microsoft Internet Explorer</a></li>
                                <li><a href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias?redirectlocale=es&redirectslug=habilitar-y-deshabilitar-cookies-que-los-sitios-we">Configurar cookies en MozillaFirefox</a></li>
                                <li><a href="https://support.apple.com/es-es/HT201265">Configurar cookies en Safari (Apple)</a></li>
                            </ul>
                        </p>
                    </div>
                    <div class="row section_bottom">
                        <h3 class="text-heading title_color">COOKIES DE TERCEROS</h3>
                        <p class="sample-text">
                            TK utiliza servicios de terceros para recopilar información con fines estadísticos y de uso de la web. En concreto, usamos los servicios de de Google Analytics para nuestras estadísticas.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block team %}{% endblock %}
{% block cta %}{% endblock %}
{% block blog %}{% endblock %}

{% block javascripts %}{% endblock %}
