{% extends 'base.html.twig' %}

{% block title %}Precio{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .pricing {
            text-align: center;
            border: 1px solid #f0f0f0;
            color: #777;
            font-size: 14px;
            padding-left: 0;
            margin-bottom: 30px;
        }
        .pricing img {
            display: block;
            margin: auto;
            width: 32px;
        }
        .pricing li:first-child,
        .pricing li:last-child {
            padding: 20px 13px;
        }
        .pricing li {
            list-style: none;
            padding: 13px;
        }
        .pricing li + li {
            border-top: 1px solid #f0f0f0;
        }
        .pricing big {
            font-size: 32px;
        }
        .pricing h3 {
            margin-bottom: 0;
            font-size: 36px;
        }
        .pricing span {
            font-size: 12px;
            color: #999;
            font-weight: normal;
        }
        .pricing li:nth-last-child(2) {
            padding: 30px 13px;
        }
        .pricing button {
            width: auto;
            margin: auto;
            font-size: 15px;
            font-weight: bold;
            border-radius: 50px;
            color: #fff;
            padding: 9px 24px;
            background: #aaa;
            opacity: 1;
            transition: opacity .2s ease;
            border: none;
            outline: none;
        }
        .pricing button:hover {
            opacity: .9;
        }
        .pricing button:active {
            box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
        }
        /* pricing color */
        .p-green big,
        .p-green h3 {
            color: #4cd3e3;
        }
        .p-green button {
            background: #4c7737;
        }
        .p-yel big,
        .p-yel h3 {
            color: #ffbb42;
        }
        .p-yel button {
            background: #ffbb42;
        }
        .p-red big,
        .p-red h3 {
            color: #f44a40;
        }
        .p-red button {
            background: #e13c4c;
        }
        .p-blue big,
        .p-blue h3 {
            color: #3f4bb8;
        }
        .p-blue button {
            background: #3f4bb8;
        }
    </style>
{% endblock %}

{% block home_banner %}
    <section class="home_banner_area overlay">
        <div class="banner_inner">
            <div class="container">
                <div class="row fullscreen d-flex align-items-center justify-content-center">
                    <div class="banner_content">
                        <h2>
                            Divorcios<br>
                            Juanqui S.A.<br>
                        </h2>
                        <p>
                            Rellena un sencillito formulario para ahorrarte 400 pavos que te va a cobrar el cabrón este.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block features %}{% endblock %}
{% block video %}{% endblock %}

{% block service %}
    <section class="contact_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row section_bottom">
                        <h3 class="text-heading title_color">Precios</h3>
                        <p class="sample-text">
                            Every avid independent filmmaker has <b>Bold</b> about making that <i>Italic</i> interest documentary, or short
                            film to show off their creative prowess. Many have great ideas and want to “wow” the<sup>Superscript</sup> scene,
                            or video renters with their big project. But once you have the<sub>Subscript</sub> “in the can” (no easy feat), how
                            do you move from a <del>Strike</del> through of master DVDs with the <u>“Underline”</u> marked hand-written title
                            inside a secondhand CD case, to a pile of cardboard boxes full of shiny new, retail-ready DVDs, with UPC barcodes
                            and polywrap sitting on your doorstep? You need to create eye-popping artwork and have your project replicated.
                            Using a reputable full service DVD Replication company like PacificDisc, Inc. to partner with is certainly a
                            helpful option to ensure a professional end result, but to help with your DVD replication project, here are 4 easy
                            steps to follow for good DVD replication results:
                        </p>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <ul class="pricing p-green">
                                <li>
                                    <big>Opción 1</big>
                                </li>
                                <li>Generación automática del convenio de separación</li>
                                <li>Presentación del convenio en el juzgado</li>
                                <li>Blabla</li>
                                <li>Blabla</li>
                                <li>
                                    <h3>400€</h3>
                                    <span>pago único</span>
                                </li>
                                <li>
                                    <a href="{{ path('service') }}" class="genric-btn success circle">Rellena el formulario</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-6">
                            <ul class="pricing p-red">
                                <li>
                                    <big>Opción 2</big>
                                </li>
                                <li>Generación personalizada del convenio de separación</li>
                                <li>Presentación del convenio en el juzgado</li>
                                <li>Blabla</li>
                                <li>Blabla</li>
                                <li>
                                    <h3>800€</h3>
                                    <span>Pago único</span>
                                </li>
                                <li>
                                    <a href="#" class="genric-btn danger circle">Contacta</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block team %}{% endblock %}
{% block cta %}{% endblock %}
{% block blog %}{% endblock %}

{% block javascripts %}
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}
