{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}

{% block home_banner %}{% endblock %}
{% block features %}{% endblock %}
{% block video %}{% endblock %}

{% block service %}

<section class="contact_area section_gap">
    <div class="container">
        <div class="row" id="app">
            <div class="col-lg-12">
                <h1>Formulario enviado con éxito</h1>
                <div>Juanqui se pondrá en contacto contigo en breves</div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block team %}{% endblock %}
{% block cta %}{% endblock %}
{% block blog %}{% endblock %}